#drum-machine {
  width: 80%;
  /* margin-top: 25%; */
  background-color: brown;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.25em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.5em;
}
